/*Color:Green 1aa79c Gray 4d4d4d*/
//* Variables */
$text-color:        #4d4d4d !default;
$brand-color:       #1aa79c !default;

/*Font*/
@import 'https://fonts.googleapis.com/css?family=Roboto:300,700';

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: $text-color;
    background: url("../img/Background.png") repeat;
}


/*Navi Menu*/

#navi-section.navbar{
  background: url("../img/Background.png") repeat;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size:18px;

  .navbar-logo{
    position: relative;
    display: block;
    padding-left: 85px;
    text-decoration: inherit;
    color: $brand-color;
    margin: 20px 65px 20px 0;
    img{
      position: absolute;
      top: 5px;
      left: 0;
      width:75px;
      height:auto;
    }
    .logo-name{
      font-size: 44px;
      line-height: 54px;
    }

  }

  .navbar-toggle {
    border-color: $brand-primary;
    border-width: 3px;
    padding: 10px 8px;
    margin-right: 20px;
    margin-top: 40px;
    .icon-bar {
        background-color: #1aa79c;
    }
  }

  .navbar-nav{
    float: right;
    position: relative;
    top:58px;
    & > li{
      & > a{
        color: $text-color;
        &:hover, &:focus{
          text-decoration: underline;
        }
      }

      &.active > a{
        color: #1aa79c;
        text-decoration: underline;
      }
    }
  }
}

// Fixed Navbar
body > .container{
  margin-top: 140px;
}


// Project in Homepage
.project-item {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: $grid-gutter-width;
  cursor: pointer;
  img{
    position:absolute;
    height: auto;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .project-intro {
      position: absolute;;
      bottom: 0;
      left: 0;
      top: 0;
      right: 0;
      background-color: rgba(26, 167, 157, 0.9);
      display: none;
      &-text{
        position:absolute;
        height: auto;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
        h2{
          padding: 20px 0 20px;
          border-bottom: 1px solid white;
          margin:0 0 20px;
        }

      }
  }
}


/*Footer Section*/

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: $brand-primary;
    color: white;
    .container{
      position: relative;
      height: 100%;
    }
    p{
      line-height: 60px;
    }
    .footer-social {
      position: absolute;
      right: 5px;
      top: 18px;
    }
    .social-icon {
      margin-left: 10px;
      height: 25px;
    }
}




/*Project Page*/


.green {
    color: rgb(26, 167, 157);
}

h4 {
    color: #1aa79c;
    font-size: 20px;
}
#title-row {
    background-color: #1aa79c;
    min-height: 230px;
}
.title-text {
    color: white;
    float: left;
    margin-right: 20px;
}
.subtitle-text {
    float: left;
    font-size: 24px;
    margin-top: 29px;
}
.item-title {
    float: left;
    width: 150px;
}
.item-title p {
    font-family: MyFont;
    font-size: 16px;
    margin-bottom: 8px;
}
.item-content {
    float: left;
}
.item-content p {
    color: white;
    font-family: MyFont;
    font-size: 16px;
    margin-bottom: 8px;
}
#content-row {
    margin-top: 40px;
}
#title-img {
    height: 500px;
    float: right;
}
.img-text-section {
    width: 100%;
    clear: both;
}
.img-text-section p {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
    float: right;
}
.img-text-big-section p {
    width: 80%;
    margin: 0 10%;
    text-align: center;
}
.project-img {
    clear: both;
    display: block;
    float: right;
    width: 80%;
}
.full-width-img {
    width: 100%;
}
.project-big-img {
    width: 80%;
    margin: 0 10%;
}
#img-section {
    border-left: 1px solid #ccc;
}
.attachment-text {
    font-size: 16px;
    color: #1aa79c;
    font-weight: bold;
    font-style: italic;
}

/*About Me*/

.about-img {
    width: 92%;
    margin-top: 100px;
    float: right;
    margin-right: -10px;
}

/*Resume*/

object {
    width: 100%;
    height: 1100px;
}
