@media screen and (max-width: $screen-sm) {
    #navi-section.navbar .navbar-logo{
      padding-left: 70px;
      img{
        left: 10px;
        width:50px;
      }
      .logo-name{
        font-size: 28px;
        line-height: 36px;
      }
      .logo-title{
        font-size:14px;
      }
    }

    #navi-section.navbar .navbar-toggle{
      margin-right: 10px;
      margin-top: 30px;
    }

    #navi-section.navbar .navbar-nav{
      float: none;
      position: static;
      text-align: center;
    }

    body > .container{
      margin-top: 110px;
    }

    #section_about_me{
      h1{
        margin-left: 0;
      }
      h4{
        margin:0;
        padding:10px;
        width: auto;
      }
    }
}
@media only screen and (max-width: 480px) {
  .footer{
    &{
      text-align: center;
      height:90px;
    }
    .footer-social {
      margin-top: 10px;
      position: relative;
      top:0;
      right:0;
    }
    p {
      line-height: 38px;
    }
  }

}
